html, body {
	display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	margin: 0;
	font-size: 15px;
	color: #000;
    overflow-x: hidden;
	font-family: "BPG Glaho Arial", sans-serif;
	background-color: #73b4fe;
    /*font-family: 'Rubik', sans-serif;*/
}

body {
	width: auto;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}

a {
	color: #000;
	text-decoration: none;
}

a:hover {
	color: #000;
	text-decoration: underline;
}

/*=========container=========*/
.container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 100%;
	width: 100%;
	margin: 30px 0px;
	padding: 0;
	background-color: #fcfffe;
	border-radius: 12px;
	z-index: 3;
}

/*==========scrollbar===========*/
::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #fcfffe;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
	transition: all 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #e0dddd;
}

/*=========header=========*/
header {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 30px;
	height: 70px;
	width: 100%;
	border-bottom: 2px solid #e3e5f4;
	background-color: #fcfffe;
	border-top-left-radius: 9px;
	border-top-right-radius: 9px;
}

header img {
	height: 50px;
	width: auto;
}

header a {
	font-weight: 700;
	font-size: 16px;

}


header a:first-child {
	margin-right: 10px;
}

header a:last-child {
	font-family: "Rubik", sans-serif;
}

/*=========subheader=========*/

.running_cards {
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	gap: 20px;
	padding: 10px 15px;
	width: 100%;
}

.running_card {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 10px;
	padding: 5px 10px;
	border-radius: 5px;
	box-shadow: 0px 0px 6px 0px rgba(0,0,0,0.4);
	min-height: 70px;
	height: 80px;
	animation-name: marqueeLine;
	animation-duration: 60s;
	animation-timing-function: linear;
    animation-delay: 0s;
	animation-iteration-count: infinite;

}

.running_card_logo img {
	height: auto;
	width: 55px;
}

.running_card_info {
	display: flex;
	flex-direction: column;
	width: 170px;
}

.running_card_info_name {
	line-height: 1.2;
	font-size: 14px;
}

.running_card_info_date {
	font-family: 'Rubik', sans-serif;
	font-weight: 400;
	font-size: 12px;
}

.running_card_price {
	font-weight: 500;
	font-size: 19px;
	font-family: 'Rubik', sans-serif;
	line-height: 1.2;
}

@keyframes marqueeLine {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-5850px);
  }
}

/*==========main===========*/
main {
	margin: 25px 0;
}

/*==========footer============*/
footer {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	border-top: 2px solid #e3e5f4;
	padding: 10px 15px;
	height: 57px;
}

footer div {
	display: flex;
	flex-direction: column;
	font-family: "Rubik", sans-serif;
}

footer div p {
	margin: 0;
}

footer img {
	height: 35px;
	width: auto;
}

footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	gap: 15px;
}


